$orionGreen: #01b96b;

.swal2-popup .swal2-image {
  margin: 0 !important;
}

.swal2-popup.swal2-toast {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 4) !important;
}

.swal2-container {
  user-select: none;
}

.swal2-content {
  user-select: text;
}

#swal2-title {
  color: $orionGreen;
  font-weight: 900;
}

#swal2-content {
  color: white;
}