.filter-slider {
  display: grid;
  grid-template-columns: 48px 57px auto 53px;
  grid-column-gap: 10px;

  label.checkbox {
    font-size: 0.7rem;
  }

  .slider-label {
    grid-column-start: 1;

    span {
    }
  }

  .slider-checkbox__left {
    grid-column-start: 2;
    justify-self: end;
    justify-items: end;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .field {
      width: auto;
      height: auto;
    }
  }

  .slider-area {
    grid-column-start: 3;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slider-checkbox__right {
    grid-column-start: 4;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}