@mixin scroll-bar {
  // width
  &::-webkit-scrollbar {
    width: .2em;
  }

  // track
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    opacity: .5;
  }

  // handle
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    opacity: .5;

    // handle on hover
    &:hover {
      background: #555;
    }
  }
}