*:not(input) {
  user-select: none; }

html {
  display: block;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0; }

body {
  width: 400px;
  max-height: 600px;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
  body::-webkit-scrollbar {
    width: 0; }

div.hero-body {
  padding: .5rem .5rem 0 .5rem; }

div.tile.is-parent {
  padding: .3rem .4rem 0 .4rem; }

div.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 0.25rem !important; }

label {
  user-select: none; }
  label.label {
    color: white;
    font-weight: 200; }

figure img {
  background-color: #fff;
  background-image: -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef), -webkit-linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%, #efefef);
  background-position: 0 0, 10px 10px;
  background-size: 21px 21px;
  border: 0; }

.checkbox:hover, .radio:hover {
  color: white; }

.notification {
  padding: 0.5rem; }

.flex {
  width: 100%;
  display: flex; }
  .flex.is-column {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    .flex.is-column.is-space-between {
      justify-content: space-between; }
  .flex.is-row {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; }
    .flex.is-row.is-space-between {
      justify-content: space-between; }
  .flex div:not([role="slider"]) {
    width: 100%; }

.modal-content::-webkit-scrollbar {
  width: .2em; }

.modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  opacity: .5; }

.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  opacity: .5; }
  .modal-content::-webkit-scrollbar-thumb:hover {
    background: #555; }

#check-to-all {
  margin: 0; }

.opacity65 {
  opacity: .65; }
