label.checkbox input[type=checkbox] {
  position: relative;
  vertical-align: middle; }

span.checkbox-label__left {
  margin-right: 2px; }
  span.checkbox-label__left.disabled {
    color: #bebdc3; }

span.checkbox-label__right.disabled {
  color: #bebdc3; }
